html{
    font-family: quicksand;
}
.home{
    /* border: 1px solid red; */
    font-family: quicksand;
    margin-top: 80px;
    width: 70vw;
    height: 80px;
    /* display: flex; */

}
.create{
    font-family: quicksand;
    margin-top: 80px;
    width: 70vw;
    height: 80px;
}

.home h1 {
    color: black;
}

.blog-preview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: lpx solid #fafafa;
    /* border: 2px solid red; */
    
}

.blog-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1)
}

.blog-preview h2 {
    font-size: 20px;
    color: #f17135;
    margin-bottom: 8px;
}


.blog-details{
   
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 5%;
    border-bottom: lpx solid #fafafa;
    /* border: 2px solid red; */
    
}

.blog-details:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1)
}

.blog-details h2 {
    font-size: 30px;
    color: #f17135;
    margin-bottom: 8px;
}
.blog-details p {
    font-size: 20px;
    margin-bottom: 10px;
}
.blog-details div {
    font-size: 20px;
    /* font-weight: ; */
}








.create {
    max-width: 400px;
    /* margin: 0 auto; */
    text-align: center;
  }
  .create label {
    text-align: left;
    display: block;
  }
  /* .create h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
  } */
  .create input, .create textarea, .create select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
  }
  .create button {
    background: rgb(60, 72, 186);
    color: #fff;
    border: 0;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-family: quicksand;
    cursor: pointer;
}
